[defaults]
inventory = inventory.ini  ; so you don't have to pass -i every time

; Ansible Config file priority:
; =============================
; 1 ANSIBLE_CONFIG (environment variable if set)
; 2 ansible.cfg (in the current directory)
; 3 ~/.ansible.cfg (in the home directory)
; 4 /etc/ansible/ansible.cfg (default location)